@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    justify-content: space-between;
    border-bottom: 2px solid  gray;
    align-items:   center;
  }
nav h1{
    color:grey;
}
nav .link{
    margin-top: 20px;
    padding-left: 10px;
    
}
.link a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
.link:hover{
color:blue;
}

form{
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    text-align: left;
    border-bottom: 1px solid gray;
  
}
form label, select{
    display: block;
    font-weight: bold;
    margin-top:10px;
}
input,  textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    border:  2px solid gray;
    margin-top: 10px;
}
.btn-save{
    background:darkslategray;
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 8px;
}
button {
    /* General styles */
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
button:hover {
    background-color: black;
    color: white;

}
table{
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    text-align: left;
    border-bottom: 1px solid gray;

}
table thead th {
    background-color: black; 
    color: white;              
    text-align: center;  
    padding: 20px;      
}
table tbody td {
    background-color: white; 
    color: black;              
    text-align: left;  
    padding: 20px;      
}


  